window.notification .draw-area {
    background-color: #{'@bg_color_1'};
    border-radius: rem(6px);
    box-shadow:
        outset-highlight(),
        0 0 0 1px #{'@toplevel_border_color'},
        shadow(3);

    image {
        color: #{'alpha(@fg_color, 0.78)'};
    }

    label.title {
        font-weight: 700;
    }

    .urgent label.title {
        color: #{'@error_color'};
    }
}
