.search-bar {
    background-color: #{'@bg_color_3'};
}

searchbar {
    @extend .search-bar;

    > revealer > box {
        padding: rem(6px);
    }

    button.close {
        background: #{'@fg_color'};
        border-radius: 99px;
        color: #{'alpha(@bg_color_1, 0.9)'};
        padding: rem(3px);

        &:active {
            background: #{'alpha(@fg_color, 0.7)'};
            color: #{'alpha(@bg_color_1, 0.7)'};
        }
    }
}
