.app-notification,
.app-notification.frame {
    background-color: #{'alpha(@fg_color, 0.85)'};
    border: none;
    border-radius: rem(6px);
    box-shadow: shadow(1);
    margin: rem(6px);
    padding: rem(6px);

    button {
        background-color: #{'alpha(@bg_color_1, 0.9)'};
        color: #{'@fg_color'};

        &.flat.image-button,
        &.close-button {
            background-color: #{'@fg_color'};
            border-radius: 50%;
            color: #{'alpha(@bg_color_1, 0.9)'};
            padding: rem(6px);

            &:active {
                background-color: #{'alpha(@fg_color, 0.7)'};
                box-shadow: none;
                color: #{'alpha(@bg_color_1, 0.7)'};
            }
        }

        // Selects the close button in GNOME apps
        &.flat.image-button {
            padding: rem(4px);
        }

        &.text-button {
            border-width: 0;
            box-shadow: none;

            &:active {
                background-color: #{'alpha(@bg_color_1, 0.7)'};
                box-shadow: none;
                color: #{'alpha(@fg_color, 0.7)'};
            }
        }

        label {
            color: #{'@fg_color'};
            text-shadow: none;
        }
    }

    label {
        color: #{'@bg_color_1'};
        text-shadow: 0 1px 2px #{'alpha(@fg_color, 0.6)'};
    }
}
